*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-sign{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main-login{
    height: 70vh;
    width: 40vw;
    background-color: #f7f6f6a9;
}