*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 100vh;
    width: 100vw;
}

.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: rgba(190, 183, 183, 0.336);
}
.logo{
    font-size: 35px;
    font-weight: 700;
    color: green;
}
.nav-item{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    color: blue;
    cursor: pointer;
}
.nav-item li:hover{
    color: red;
}

.btn button{
    padding: 10px 40px 10px;
    border: none;
    color: white;
    background-color: skyblue;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px 50px;
    cursor: pointer;
}
.btn button:hover{
    background-color: red;
}
.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #8080807a;
}
.img{
    width: 40%;
    
}
.dis{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dis h2{
    font-size: 35px;
    color: #ae19e5a9;

    font-weight: 600;
}
.dis p{
    font-size: 20px;

}
 button{
    padding: 10px 35px 10px;
    border: none;
    color: white;
    background-color: red;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px 30px;
}
button:hover{
    background-color: skyblue;
}

.fot{
    padding: 40px;
    background-color: #8080806c;
    display: flex;
    justify-content: center;
    align-items: center;
}
