div{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: colorchange;
    animation-duration: 4s;
    animation-delay: 3s;
}
@keyframes colorchange{
    0%{
        background-color: blue;
    top: 0px;
    left:0px ;}
    
    100%{
        background-color: yellow;
    top: 0px;
    left: 200px;
    }
    50%{
        background-color: black;
        top: 200px;
        left: 200px;
    }
    75%{
        background-color: aquamarine;
        top: 200px;
        right: 0%;
    }
    100%{
        background-color: violet;
        top: 0px;
        left: 0px;
    }
}