/* universal selector */
*{
    margin: 0;
    padding: 0;
}
/* element selector */
h1{
        color: red;
}
p{
    color: blue;
}
/* class selector */
.para{
    color: rgb(149, 255, 0);
}
.hello{
    font-size: 60px;
}
/* id selector */
#id1{
    color: whitesmoke;
    background-color: black;
}
/* selector list */
.class1 , .class7 , .class10{
    color: pink;
}